.recipecard{
    margin:10px; 
    width:250px;
    height:300px;
    display: flex;
    border:1px solid #ccc;
    border-radius:10px;
    background-color:white;
    flex-direction:column;
}
.recipecard .imagebox{
    width:250px;
    height:200px;
    border-bottom:1px solid #ccc;

}
.recipecard .title{
    font-size:15px;
    color:black;
    margin:5px;
}
.recipecard .recipeinfo{
    color:#868585;
    display:flex;
    align-items:center;
    margin:5px;
    font-size:14px;
}
.recipecard .recipeinfo span{
    margin:0px 10px 0px 5px;
}