.recipedetails{
  width:100%;
  height:100%;
}
.close{
    position: absolute;
    right:10px;
    top:10px;
    width:30px;
    height:30px;
    border-radius:50%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    cursor: pointer;
}
.head{
  /* display: flex; */
  
}
.head_image{
  width:400px;
  height:300px;
  border-radius:20px;
  margin:20px 0px 0px 20px;
  border:2px solid grey;
}
.head h2{
    font-weight:bold;
    font-style:italic;
    color:darkcyan;
    margin-left:30px
}
h3{
  margin-left:30px;
  border-bottom:1px solid black;
  display: inline-block;
}
 p.sum{
    font-size: 15px;
    margin: 0 auto;
    width: 90%;
}
p.instr{
  margin:0 auto;
  width:90%;
}



