.recipedetails{
  width:100%;
  height:100%;
}
.close{
    position: absolute;
    right:10px;
    top:10px;
    width:30px;
    height:30px;
    border-radius:50%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    cursor: pointer;
}
.head{
  /* display: flex; */
  
}
.head_image{
  width:400px;
  height:300px;
  border-radius:20px;
  margin:20px 0px 0px 500px;
  border:2px solid grey;
}
.head h3{
    font-weight:bold;
    width:50%;
    margin:0 auto;
    font-style:italic;
}
 p{
   
}


