.recipedetails{
  width:100%;
  height:100%;
}
.close{
    position: absolute;
    right:10px;
    top:10px;
    width:30px;
    height:30px;
    border-radius:50%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color:white;
    cursor: pointer;
}
.head{
  display: flex;
  
}
.head_image{
  width:300px;
  height:300px;
  border-radius:20px;
  align-items:center;
}



